# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Environment
.env
venv/
Pipfile.lock

# SQLite database
*.sqlite3
db.sqlite3

# OS files
.DS_Store
Thumbs.db

# Migrations (optional if using Alembic)
migrations/

# VS Code
.vscode/
